chromadb
nest_asyncio
crewai 
crewai-tools 
numpy
openai
pypdf
python-docx
python-dotenv 
pandas
openpyxl
streamlit # added
python-docx
tiktoken
langchain
langchain-openai
langchain-core # added
langchain_chroma # added 
langchain-experimental
langchain-community  # added
langchain-text-splitters
lolviz
